
.container-fluid{
    height: 100vh;
    
}
#row{
min-height: 100vh;
}

.side{
    background-color: rgb(0, 140, 255);
    height: 100vh;
    
}

.menu{
    background-color: rgba(255, 216, 126, 0.205);
    height: 100vh;
}

.message{
    background-color: rgba(207, 207, 207, 0.459);
    height: 100vh;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
a{
    color: black;
}

a:visited{
    color: black;
}
